h1{
  color:aqua;
}
body{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
img{
  max-width: 100%;
  height: auto;
}
html{
  scroll-behavior: smooth;
}
iframe{
  width: 50%;
  height: auto;
}